@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'prismjs/themes/prism.css';



/* Assuming cl-cardBox is for a card or box component */



.cl-userProfile-root {
    display: flex;
    justify-content: space-evenly;
   
    /* If you need to ensure it takes up full height/width */
    width: 100%;
    height: 100%;
   padding-top: 55px;

}

.cl-cardBox {
    /* Your existing styles */
    width: 84vw;
    height: 84vh;
    /* Center content inside these boxes if needed */
 

}

.cl-userButtonOuterIdentifier {

    color: aliceblue;
    outline: none;
}
.cl-userButtonOuterIdentifier:hover {
    color: #77B6EA
  
}
.cl-avatarBox {
    height: 33px;
    width: 33px;
    outline: none;
}

